---
import { render } from 'astro:content';
import { Image } from 'astro:assets';
import { formatDate } from '@js/utils';
import BaseLayout from '@layouts/BaseLayout.astro';
import FeaturedContent from '@components/sections/FeaturedContent.astro';
import TableOfContents from '@components/content/TableOfContents.astro';
import CTA from '@components/sections/CTA.astro';
import '@styles/markdown.less';

const { post } = Astro.props;
const { title, date, description, image, imageAlt, author } = post.data;
const { Content, headings } = await render(post);
---

<BaseLayout title={title} description={description} preloadedImage={image}>
  <!-- ============================================ -->
  <!--         News Article + Sidebar layout        -->
  <!-- ============================================ -->

  <div class="news-container">
    <!--Main content -->
    <section class="main-content">
      <article class="news-article">
        <!--Article Info-->
        <header class="news-header">
          <h1 class="news-h1">{title}</h1>
          <div class="news-authorGroup">
            <!--Author Image-->
            <picture class="news-author-img">
              <img
                src="/assets/svgs/profile.svg"
                alt="house"
                width="32"
                height="32"
                decoding="async"
              />
            </picture>
            <span class="news-author">{author}</span>
            <span aria-hidden="true" class="news-dot"></span>
            <!--News Date-->
            <span class="news-date">{formatDate(date)}</span>
          </div>
        </header>

        <!--Main Article Image-->
        <picture class="news-mainImage">
          <Image
            src={image}
            alt={imageAlt}
            width="795"
            height="400"
            decoding="async"
          />
        </picture>

        <!-- Mobile Table of Contents -->
        <div class="news-sidebar_widget-wrapper cs-hide-on-desktop">
          <TableOfContents
            headings={headings}
            levels={3}
            hideOnMobile={false}
            noWrapper={true}
          />
        </div>
        <!--Markdown content-->
        <div id="news-content">
          <Content />
        </div>
      </article>
    </section>
    <!--Side bar-->
    <aside class="news-sidebar">
      <!-- Desktop Table of Contents -->
      <TableOfContents headings={headings} levels={3} />
      <!-- Featured Content -->
      <div class="news-sidebar_widget-wrapper">
        <FeaturedContent
          type="noticias"
          limit={3}
          excludeCurrentPost={post.id}
        />
      </div>
    </aside>
  </div>

  <CTA />
</BaseLayout>

<style lang="less">
  @import '../styles/layouts/news-post-layout.less';
</style>
