---
/**
 * * This layout uses a Recent Articles stitch to display news posts
 * * This layout uses a loop so be careful when swapping out the HTML and CSS with the stitch of your choice
 **/

import { formatDate } from '@js/utils';
import { Picture } from 'astro:assets';

const { posts } = Astro.props;
---

<section id="noticias-1144">
  <div class="cs-container">
    <div class="cs-content">
      <div class="cs-content-flex">
        <span class="cs-topper">Noticias y Artículos</span>
        <h2 class="cs-title">Directamente desde las Últimas Noticias</h2>
      </div>
    </div>
    <ul class="cs-card-group">
      {posts.length === 0 && <h1>No Recent Posts</h1>}
      {
        posts.length >= 1 &&
          posts.map(post => (
            <li class="cs-item">
              <Picture
                pictureAttributes={{
                  class: 'cs-picture',
                }}
                src={post.data.image}
                quality={'mid'}
                formats={['avif', 'webp', 'jpg']}
                alt={post.data.imageAlt}
                loading="lazy"
                decoding="async"
                aria-hidden="true"
              />
              <div class="cs-flex">
                <span class="cs-date">{formatDate(post.data.date)}</span>
                <h3 class="cs-h3">{post.data.title}</h3>
                <p class="cs-item-text">{post.data.description}</p>
                <a href={`/noticias/${post.id}`} class="cs-link">
                  Read More
                  <img
                    class="cs-arrow"
                    loading="lazy"
                    decoding="async"
                    src="/assets/icons/event-chevron.svg"
                    alt="icon"
                    width="20"
                    height="20"
                    aria-hidden="true"
                  />
                </a>
              </div>
            </li>
          ))
      }
    </ul>
  </div>
</section>

<style lang="less">
  @import '../styles/layouts/news-recent-articles.less';
</style>
