---
/**
 * * This custom layout displays noticias posts and a sidebar
 **/
import FeaturedContent from '@components/sections/FeaturedContent.astro';
import RecentArticleCard from '@components/ui/RecentArticleCard.astro';

const { posts } = Astro.props;
---

<section class="news-container">
  <section class="main-content">
    {posts.length === 0 && <h1>No Recent Posts</h1>}
    {
      posts.length >= 1 &&
        posts.map(post => (
          <RecentArticleCard
            title={post.data.title}
            description={post.data.description}
            author={post.data.author}
            date={post.data.date}
            image={post.data.image}
            imageAlt={post.data.imageAlt ?? post.data.title}
            primaryLink={{
              href: `/noticias/${post.id}`,
              label: 'Continuar leyendo',
            }}
            variant="news"
          />
        ))
    }
  </section>
  <aside class="news-sidebar">
    <div class="news-sidebar_widget-wrapper">
      <FeaturedContent type="noticias" limit={3} />
    </div>
  </aside>
</section>

<style lang="less">
  @import '../styles/layouts/news-recent-articles-with-sidebar.less';
</style>
